<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>Filter.FilterAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAdmin</filter-name>
        <url-pattern>/Views/Admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controllers.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controllers.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <servlet-class>Controllers.Signin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookUpdate</servlet-name>
        <servlet-class>Controllers.BookUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookList</servlet-name>
        <servlet-class>Controllers.BookList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetails</servlet-name>
        <servlet-class>Controllers.BookDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBook</servlet-name>
        <servlet-class>Controllers.SearchBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertBook</servlet-name>
        <servlet-class>Controllers.InsertBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paging</servlet-name>
        <servlet-class>Controllers.Paging</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cart</servlet-name>
        <servlet-class>Controllers.AddCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>Controllers.Checkout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>Controllers.Account</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAddress</servlet-name>
        <servlet-class>Controllers.ListAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Orders</servlet-name>
        <servlet-class>Controllers.Orders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAddress</servlet-name>
        <servlet-class>Controllers.UpdateAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePublisher</servlet-name>
        <servlet-class>Controllers.UpdatePublisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAuthor</servlet-name>
        <servlet-class>Controllers.UpdateAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>Controllers.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserManagement</servlet-name>
        <servlet-class>Controllers.UserManagement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderManagement</servlet-name>
        <servlet-class>Controllers.OrderManagement</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/sign-in</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookUpdate</servlet-name>
        <url-pattern>/book-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookList</servlet-name>
        <url-pattern>/book-list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetails</servlet-name>
        <url-pattern>/BookDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBook</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertBook</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paging</servlet-name>
        <url-pattern>/paging</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAddress</servlet-name>
        <url-pattern>/listaddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Orders</servlet-name>
        <url-pattern>/orders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAddress</servlet-name>
        <url-pattern>/address</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePublisher</servlet-name>
        <url-pattern>/publisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAuthor</servlet-name>
        <url-pattern>/authors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/categories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagement</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderManagement</servlet-name>
        <url-pattern>/ordermanage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
